
@{
    ViewBag.Title = "InternalServerError";
}

<div>
    <div class="col-4">
        <p>
            <b>500.</b> That's an error.
        </p>
        <p>
            The server encounted an error and could not complete your request.
        </p>
    </div>
    <div class="col-8">
        <img src="../../Content/img/But.jpg" alt="But..." />
    </div>
    <p class="text-muted">
        That's all we know.
    </p>
</div>