
@{
    ViewBag.Title = "NotFound";
}

<div>
    <div class="col-4">
        <p>
            <b>404.</b> That's an error.
        </p>
        <p>
            The requested URL was not found on this server.
        </p>
    </div>
    <div class="col-8">
        <img src="../../Content/img/But.jpg" alt="But..." />
    </div>
    <p class="text-muted">
        That's all we know.
    </p>
</div>